# Virtual env
.venv/
venv/

# IDE settings
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS junk
.DS_Store
Thumbs.db

# Model outputs
models/
*.joblib

# Streamlit cache
.streamlit/
